<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <classes>
    <class name="org.FaceGenie.Scripts.Login"></class>
    <class name="org.FaceGenie.Scripts.Dashboard"></class>
    <class name="org.FaceGenie.Scripts.AttendanceLogs"></class>
    <class name="org.FaceGenie.Scripts.ManageStudent"></class>
    <class name="org.FaceGenie.Scripts.SearchStudent"></class>
    <class name="org.FaceGenie.Scripts.StudentData"></class>
    <class name="org.FaceGenie.Scripts.Modules"></class>
    <class name="org.FaceGenie.Scripts.Logout"></class>
  </classes>
  </test> 
</suite> 
